<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gabriel 监控 主页</title>
    <link href="bootstrap-3.3.0-dist/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="cas-header">
    <i class="headerIcon">G</i>
    <i class="headerTitle">Gabriel监控主页</i>
</div>
<!--内容 开始-->
<form class="form-horizontal form-deploy" method="get" action="/getDashboard">
    <div class="dashboard-group">
        <div class="form-group">
            <label class="col-sm-2 control-label">groupName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="groupName" value="111">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">rowList</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="rowList" value="111">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="title" value="111">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="id" value="111">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">span</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="span" value="111">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">meterType</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="meterType" value="111">
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">legend</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="legend" value="111">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">database</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="database" value="111">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">measurements</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="measurements" value="111">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">serverSource</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="serverSource" value="111">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">port</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="port" value="111">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">host</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="host" value="111">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">instance</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="instance" value="111">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">type</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="type" value="111">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">type_instance</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="type_instance" value="111">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">录入</label>
        <div class="col-sm-10">
            <input type="submit" class="form-control">
        </div>
    </div>
</form>
<!--内容 结束-->



<div class="cas-footer">
    版权所有：中科院电子所苏州研究院
</div>



<script src="js/jquery.js"></script>
<script src="bootstrap-3.3.0-dist/dist/js/bootstrap.min.js"></script>
</body>
</html>